@model List<task4.Models.Entities.User>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script>
		function toggleCheckboxes(source) {
			const checkboxes = document.querySelectorAll('.userCheckbox');
			checkboxes.forEach(checkbox => {
				checkbox.checked = source.checked;
			});
		}
	</script>
<div class ="mt-2 d-flex justify-content-end">
<form asp-controller="Access" asp-action="LogOut" method="post">
	<button type="submit" class="btn-sm btn-secondary mb-4">Log out</button>
</form>
</div>
	
</head>

<h1 class="text-center mb-2">Users</h1>

<form method="post">
	<div class="toolbar mb-3 mt-1">
		<button type="submit" formaction="@Url.Action("BlockUsers")" class="btn btn-warning">
			Block
		</button>
		<button type="submit" formaction="@Url.Action("UnblockUsers")" class="btn btn-success">
			<i class="fas fa-unlock"></i> 
		</button>
		<button type="submit" formaction="@Url.Action("DeleteUsers")" class="btn btn-danger">
			<i class="fas fa-trash"></i>
		</button>

		@if (ViewData["MessageValidation"] != null)
		{
		   <label>@ViewData["MessageValidation"]</label>
		}
	</div>

<table class = "table">
	<thead>
		<tr>
			 <th>
					<input type="checkbox" onchange="toggleCheckboxes(this)" />
			  </th>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>RegistrationDate</th>
			<th>LastLoginDate</th>
			<th>Status</th>

		</tr>
	</thead>
	<tbody>
			@foreach (var user in Model)
			{
						<tr>
							<td>
								   <input type="checkbox" class="userCheckbox" name="selectedUsers" value="@user.Email" />
							</td>
							<td>@user.UserId</td>
							<td>@user.Name</td>
							<td>@user.Email</td>
							<td>@user.RegistrationTime</td>
							<td>@user.LastLoginTime</td>
							<td>@user.Status</td>
						</tr>
			}
	</tbody>
</table>
</form>
'<script src="/_framework/aspnetcore-browser-refresh.js"></script>